@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.wrapper{
  overflow: hidden;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.header {
  width: 100%;
  padding: 20px 0;
}
.header__container {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000000;
}
.header__logo::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FDA300;
  border-radius: 50%;
  top: 0.9em;
}
.header__links {
  list-style-type: none;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.header__link {
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
  color: #000000;

  transition: color 0.20s;
}
.header__link:hover {
  color: #ff9494;
}

.main__aboutMe {
  margin-bottom: -5px;
}
.main__aboutMe__container {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.main__aboutMe__text {
  padding: 124px 0 0 0;
  max-width: 500px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__aboutMe__text.active {
  transform: translate(0px, 0%);
  opacity: 1;
}
.main__aboutMe__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  padding-bottom: 20px;
}
.main__aboutMe__subtitle {
  font-size: 14px;
  line-height: 200%;
}
.main__aboutMe__img img {
  max-width: 100%;
}
.main__ican {
  margin: 0 -15px;
  background-color: #fff;
}
.main__ican__container {
  padding: 90px 0;
  margin: 0 auto;
}
.main__ican__row {
  display: flex;
  gap: 30px;
}
.main__ican__img {
  padding-bottom: 30px;
}
.main__ican__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 10px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__ican__title.active {
  transform: translate(0px, 0%);
  opacity: 1;
}
.main__ican__subtitle {
  line-height: 200%;
}
.main__portfolio__container {
  padding: 90px 0 0 0;
  max-width: 1000px;
  text-align: center;
}
.main__portfolio__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  padding-bottom: 60px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main__portfolio__title.active {
  transform: translate(0px, 0%);
  opacity: 1;
}
.main__portfolio__subtitle {
  padding: 40px 0 90px 0;
  font-size: 18px;
  line-height: 27px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.main__portfolio__img img {
  max-width: 100%;
}

.footer {
  margin: 0 -15px;
  background-color: #fff;
}
.footer__container {
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
.footer__contact {
  color: #070707;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  padding-bottom: 40px;
}
.footer__subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  padding-bottom: 40px;
}
.footer__btn {
  display: inline;
  padding: 7.3px 22.5px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 27px;
  background: #070707;
  border-radius: 30px;
  transition: 0.2s;
}
.footer__btn:hover {
  background: #525252;
}
.footer__medias {
  padding: 80px 0 40px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.footer__text {
  color: #828282;
  line-height: 21px;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 850px) {
  .main__aboutMe__container {
    gap: 20px;
    padding-top: 0px;
    flex-direction: column;
  }
  .main__aboutMe__img {
    text-align: center;
    padding: 25px;
    margin-bottom: -25px;
  }
  .main__aboutMe__title {
    font-size: 34px;
    line-height: 51px;
  }
  .main__ican__row {
    flex-direction: column;
    text-align: center;
  }
  .main__aboutMe__text {
    padding-top: 50px;
  }
  .header__burger {
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
  }
  .header__burger::before,
.header__burger::after,
.header__burger span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0%;
  }
  .header__burger::after {
    bottom: 0%;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(-100%, 0);
    transition: all 0.5s;
  }
  .header__nav.active {
    transform: translate(0, 0);
  }
  .header__links {
    flex-direction: column;
    gap: 50px;
    padding: 70px 50px;
  }
  .header__link {
    color: #fff;
    font-size: 40px;
  }
  .header__burger {
    z-index: 2;
    color: #FDA300;
  }
  .header__burger::before,
.header__burger::after,
.header__burger span {
    background-color: #fff;
  }
}/*# sourceMappingURL=style.css.map */